* {
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color:inherit;
}
ul {
    list-style: none;    /*清除列表默认样式*/
    padding: 0;      /*清除padding*/
    margin: 0;
}
div {
    display: block;
}
/* 整个最大的div的css */
.whole {
    width: 1903px;
    /* height: 7809px; */
    /* height: 7759px; */
    /* background-color: aquamarine; */
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}

/* 头部的css代码 */
.header {
    height: 140px;
}
/* 定义头部导航栏的大小 */
.nav-top {
    height: 40px;
    background-color: #333;
}
/* 定义头部导航栏内容部分的大小 */
.nav-top-content{
    width: 1226px;
    height: 40px;
    margin: auto;
    /* background-color: chocolate; */

}

/* 对头部导航栏内部的a标签进行样式修改 */
.nav-top-content a{
    font-size: 12px;
    color: #B0B0B0;
    line-height: 40px;
    display: inline-block;
}
.nav-top-content a:hover {
    color: #fff;
}

/* 整个头部最左边的导航栏大小 */
.nav-top-left {
    width: 794.09px;
    height: 40px;
    display: inline-block;
}
/* 导航栏内文字与文字之间的空隙间隔 */
.nav-top-a-margin {
    color: #424242;
    margin: 0px 3.6px;
    font-size: 12px;
}

/*  头部导航栏右边的内容部分的css */
/* 购物车部分的css */
.shopping-cart {
    width: 120px;
    float: right;
    background-color: #424242;
    text-align: center;
    margin-left: 15px; 
    line-height: 40px;
}
.cart-img {
    float: left;
    padding: 5px 0px;
    height: 30px;
    margin-right: 5px;
}

.shopping-cart-img {
    width: 20px;
    height: 20px;
    background-color: #424242;
    display: inline-block;
    background-image: url(../Images/购物车1.png);
    background-size: 20px 20px;
}
.shopping-cart:hover .shopping-cart-img {
    background-color: #fff;
    background-image: url(../Images/购物车2.png);
}

/* 购物车左边部分的css(用户信息) */
.user-info {
    width: 142.47px;
    height: 40px;
    float: right;

}

/* 头部导航栏下载app的隐藏层css代码 */
.nav-top-left-none {
    width: 124px;
    height: 0px;
    background-color: aqua;
    /* display: inline-block; */
    position: absolute;
    top: 40px;
    margin-left: -80px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    color: #333;
    line-height: 1px;
    /* 用于隐藏超出原有内容的东西 */
    overflow: hidden;
    /* 是已定义的初始高变成最终的高的过度效果 */
    transition:height .3s;
    box-shadow: 0 1px 5px #aaa;
    z-index: 30;
}

/* 一个小三角的css 用hover伪类鼠标暂停显示 */
.nav-top-left-triangle {
    /* width: 10px;
    height: 10px; */
    /* background-color: #fff; */
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -27px;
    border-bottom: 10px solid #fff;
    border-left:10px solid transparent ;
    border-right:10px solid transparent ;
    border-top:10px solid transparent ;

}

/* 小米app下载图片的css设置 */
.nav-top-left-done-img{
    width: 90px;
    height: 90px;
    margin: 18px 17px 12px 17px;
}

/* 下载app的hover伪类鼠标暂停事件 */
.download:hover .nav-top-left-none {
    /* 设置鼠标暂停后的内容高度 */
    height: 135px;
}

/* 鼠标暂停显示被隐藏掉的小三角 */
.download:hover .nav-top-left-triangle {
    display: inline;
}


/* 购物车的隐藏层设置 */
.shopping-cart-none {
    width: 316px;
    height: 0px;
    background-color: #fff;
    position: absolute;
    margin-left: -196px;
    color: #424242;
    line-height: 80px;
    transition: height .3s;
    overflow: hidden;
    box-shadow: 0 1px 5px #aaa;
    z-index: 30;
    /* vertical-align: -4px; */
}



/* 购物车的hover鼠标暂停事件设置 */
.shopping-cart:hover {
    background-color: #fff;
}
/* 改变隐藏内容的高度 */
.shopping-cart:hover .shopping-cart-none{
    height: 80px;
}
/* 鼠标暂停改变文字的颜色 */
.shopping-cart:hover a{
    color: #ff6700;
}


/* 头部logo导航栏css代码 */
.nav-logo {
    height: 100px;
    position: relative;
}

/* 头部logo导航栏内容css代码 */
.nav-logo-content {
    width: 1226px;
    height: 100px;
    /* background-color: aqua; */
    margin: 0px auto;
    /* position: relative; */
}
/* 头部logo的css代码 */
.nav-logo-content .logo {
    width: 62px;
    height: 56px;
    float: left;
    margin-top: 20px;
}
.logo-img {
    width: 52px;
    height: 52px;
    background: url(../Images/logo.png);
    display: inline-block;
}

/* logo右边的导航栏css */
.logo-right-nav {
    width: 850px;
    height: 100px;
    float: left;
}

/* ul标签，一个大的格式清理 */
.nav-list-one {
    list-style-type: none;
    margin: 0;
    padding: 12px 0px 0px 30px;
    height: 88px;
    font: 16px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}


.nav-item-empty {
    height: 88px;
    width: 142px;
    padding-right: 15px;
    float: left;
}

/* 设置li标签的大小和让文字在合适的位置 */
.nav-item-one {
    float: left;
    height: 88px;
    line-height: 70px;
}

.nav-item-one a {
    padding: 26px 10px 38px;

}

/* 鼠标暂停改变颜色 */
.nav-item-title:hover{
    color: #ff6700;
}

/* logo导航栏的隐藏层css */
.logo-none {
    width: 100%;
    height: 0px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 100px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 18%);
    z-index: 20;
    overflow: hidden;
    
}
.logo-right-nav .nav-list-one .nav-item-one:hover .logo-none{
    /* display: block; */
    height: 229px;
    border-top: 1px solid #e0e0e0;
    color: #333;
}
.logo-none .none-content {
    width: 1229px;
    height: 201px;
    /* background-color: #333; */
    margin: 0px auto;
    overflow: hidden;
}

.price {
    width: 180px;
    height: 166px;
    padding: 35px 12px 0px 12px;
    float: left;
    text-align: center;
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}

.price img{
    width: 160px;
    height: 110px;
}
.price .name  {
    /* display: inline-block; */
    height: 20px;
}

.price .pic{
    height: 20px;
    color: #ff6700;
    /* float: left; */
}

.line {
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
    float: left;
    position: relative;
    top: 50px;
}




/* logo导航栏最右边的搜索栏css */
.logo-right-search {
    width: 301px;
    height: 50px;
    float: left;
    background-color: burlywood;
    margin-top: 25px;
    position: relative;
}

.search-form {
    height: 50px;
}

.logo-right-search .search-border {
    float:left;
    width: 245px;
    height: 50px;
    padding: 0px 10px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-right: none;
}

.logo-right-search:hover .search-border {
    border: 1px solid #b0b0b0;
    /* border-right: none; */
}
.logo-right-search:hover .search {
    border: 1px solid #b0b0b0;
    border-left: none;
    cursor:pointer;
}


.logo-right-search .search {
    width: 56px;
    height: 50px;
    float: left;
    padding: 0px 6px;
    border: 1px solid #e0e0e0;
    /* outline: none; */
    background: #fff url(../Images/搜索1.png)  center  no-repeat;
    background-size: 30px 30px;
    /* position: absolute; */
}
.logo-right-search .search:hover {
    background: #ff6700 url(../Images/搜索2.png)  center  no-repeat;
    background-size: 30px 30px;
}

.logo-right-search .tag {
    position: absolute;
    /* float: right; */
    left: 10px;
    top: 18px;
    color: #757575;
}


/* 主要内容的css代码 */
.content-main {
    width: 1226px;
    height: 670px;
    /* background-color: blueviolet; */
    margin: 0px auto;

}

.main-background {
    width: 100%;
    height: 460px;
    background-image: url(../Images/main.png);
    background-size: 1226px 460px;
}

/* 主要内容左边的分类栏css */
.category {
    width: 234px;
    height: 460px;
    position: absolute;
    top: 100px;
    left: 338.5px;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #fff;

}

.category .category-list {
    width: 234px;
    height: 420px;
    padding: 20px 0px;
    background-color: #424049;
    line-height: 42px;
    position: relative;
}

.category .category-list .category-item {
    width: 234px;
    height: 42px;
    /* background-color: #fff; */
}
.category .category-list .category-item .title {
    position: relative;
    height: 42px;
    display: block;
    padding-left: 30px;
}
.category .category-list .category-item .title .title-arrow {
    float: right;
    width: 16px;
    height: 39px;
    /* background-color: #fff; */
    padding-top: 3px;
    margin-right: 24px;
}
.category .category-list .category-item .title .title-arrow .title-arrow-img {
    width: 16px;
    height: 16px;
    background-image: url(../Images/箭头-向右.png);
    display:inline-block;
    background-size: 16px 16px;
}




/* 主页导航栏隐藏部分的css */
.category-none {
    height: 458px;
    width: 992px;
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 234px;
    display: none;
    border: 1px solid #e0e0e0;
    border-left: 0px;
    /* box-shadow: 0 3px 4px rgb(0 0 0 / 18%); */
    background-color: #fff;
}
.category-none-tow {
    width: 795px;   
}
.category-none-three {
    width: 531px;
}

.category-none-list {
    float: left;
    width: 248px;
    height: 458px;
    padding: 2px 0px;
    /* background-color: #ff6700; */

}
.category-none-list .category-none-list-item {
    width: 265px;
    height: 76px;
    background-color: #fff;
}
.category-none-list .category-none-list-item .link {
    width: 225px;
    height: 40px;
    padding: 18px 20px;
    display: block;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}

.category-none-list .category-none-list-item .link img {
    float: left;
    margin-right: 12px;
}

.category-none-list .category-none-list-item .link .text {
    width: 172px;
    line-height: 40px;
    float: left;
}

/* 主页隐藏导航栏的hover事件css */
.category .category-list .category-item:hover .category-none {
    display: block;
}

.category .category-list .category-item .title:hover {
    background-color: #ff6700;
}

.category-none-list .category-none-list-item .link:hover {
    color: #ff6700;
}


/* 主页下面一块部分的css */
.main-bottom {
    width: 100%;
    height: 170px;
    /* background-color: #ff6700; */
    margin-top: 14px;
}
/* 主页下方六个小的导航栏 */
.main-bottom .info {
    width: 234px;
    height: 170px;
    float: left;
    background-color: #5f5750;;
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #fff;


}
.main-bottom .info .info-list {
    width: 234px;
    height: 170px;
}

.main-bottom .info .info-list .info-item {
    height: 82px;
    width: 70px;
    position: relative;
    padding: 0px 3px;
    float: left;
}

.main-bottom .info .info-list img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0px auto 4px;
}

.main-bottom .info .info-list a {
    display: block;
    padding-top: 18px;
    text-align: center;
    opacity: .7;
    transition: opacity .2s;

}

.main-bottom .info .info-list a:hover {
    opacity: 1;
}

/* 导航栏里面的线条 */


.info-list .line {
    height: 70px;
    width: 1px;
    position: absolute;
    /* background: #665e57; */
}
.info-list li::before {
    position: absolute;
    background-color: #665e57;
    content: "";
    width: 64px;
    height: 1px;
    top: 4px;
    left: 15px;
}
.info-list li::after {
    position: absolute;
    background-color: #665e57;
    content: "";
    width: 1px;
    height: 70px;
    top: 11px;
    left: 9px;
}

/* 导航栏旁边的三张图片 */
.main-bottom .bottom-img {
    float: left;
    /* width: 978px;
    height: 170px; */
    /* background-color: #ff6700; */
    margin-left: 14px;
}


.main-bottom .bottom-img .bottom-list {
    width: 978px;
    height: 170px;
}
.main-bottom .bottom-img .bottom-list .bottom-item
{
    margin-left: 0px;
}
.main-bottom .bottom-img .bottom-list  li {
    width: 316px;
    height: 170px;
    margin-left: 15px;
    float: left;
    background-color: aqua;
}
.main-bottom .bottom-img .bottom-list img {
    width: 316px;
    height: 170px;
}



/* 次要内容的css代码 */
.content-secondary {
    height: 6338px;
    z-index: -1;
    padding: 4px 0px 12px 0px ;
}

.content-secondary .content {
    width: 1226px;
    /* height: 100%; */
    margin: 0px auto;
    /* background-color: brown; */
}
/* 横幅内容css */
.content-secondary .content .main-banner-box{
    height: 120px;
    overflow: hidden;
    margin: 22px 0px;
}

/* 首页手机内容css */
.content-secondary .content .phone {
    height: 686px;
    /* background-color: #ff6700 */
}

.text {
    height: 58px;
    background-color: #fff;
    font: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    position: relative;
}
.text .title {
    margin: 0px;
    line-height: 58px;
    font-weight: 200;
    color: #333;
    font-size: 22px;
}
.more {
    /* width: 92px; */
    height: 58px;
    position: absolute;
    top: 0px;
    right: 0px;
}
 .iconfont {
    width: 12px;
    height: 12px;
    padding: 4px;
    font-size: 12px;
    background: #b0b0b0;
    color: #fff;
    border-radius: 50%;
    vertical-align: 1px;
    margin-left: 4px;
    /* margin-left: 8px; */
    /* font-weight: 300; */
    /* display: inline-block; */
    transition: all .4s;
}
 .more-link {
    color: #424242;
    font-size: 16px;
    line-height: 58px;
    transition: all .4s;
}

 .more-link:hover {
    color: #ff6700;
}
 .more-link:hover .iconfont{
    background-color: #ff6700;
}

/* 标题下方的图片 */
/* 最左边的大图片 */
.content-secondary .content .phone .box-img {
    width: 1240px;
    height: 628px;
    /* background-color: #333; */
}
.content-secondary .content .phone .box-img .big {
    /* width: 234px; */
    /* height: 100%; */
    /* background-color: #B0B0B0; */
    /* margin-left: 14px; */
    float: left;
}

.big-list {
    height: 614px;
    margin: 0px;
    padding: 0px;
}

.big-item {
    position: relative;
    width: 234px;
    float: left;
    z-index: 1;
    transition: all .3s;
    background-color: #fff;
}

/* 右边的八个小图片 */

.content-secondary .content .phone .small {
    float: left;
    width: 992px;
    /* height: 628px; */
    /* background-color: red; */
    /* margin-left: 14px; */
}

 .small .small-list .big-item-2 {
    height: 300px;
    /* background-color: royalblue; */
    float: left;
    margin: 0px 0px 14px 14px ;
}
.small .small-list .big-item-2 .title{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0 10px 2px;
}
.small .small-list .big-item-2 .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}
.small .small-list .big-item-2 .pic {
    margin: 0 10px 14px;
    color: #ff6700;
    font-size: 14px;
}
.small .small-list .big-item-2 img {
    width: 160px;
    height: 160px;
}
.small .small-list .big-item-2  a{
    display: block;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
}

.small .small-list .small-img {
    /* width: 243px; */
    height: 93px;
    background-color: #fff;
    margin: 0px 0px 14px 14px;
    padding-top: 50px;
    position: relative;

}

.small .small-list .small-img a {
    text-align: left;
}

.small .small-list .small-img .desc {
    margin-right: 30px;
}

.small .small-list .small-img .title {
    margin: -10px 110px 5px 30px;
}
.small .small-list .small-img img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50px;
    right: 20px;
}

.small .small-list .small-img .pic {
    margin: 0 110px 0 30px;
}

.small .small-list .small-img .title-s {
    font-size: 18px;
    margin-bottom: -5px;
}

.small .small-list .small-img .pic-s {
    /* font-size: -12px; */
    color: #757575;
}

.small .small-list .small-img .arrow {
    height: 60px;
    width: 60px;
}

.big-item-3 {
    height: 300px;
    float: none;
    margin-bottom: 14px;
}


.content-secondary .content .phone .box-img .big-item:hover {
    /* border: 1px solid #B0B0B0; */

    /* border: 1px solid #e0e0e0; */
    /* border-right: 1px solid #e0e0e0; */
    /* box-sizing: border-box; */
    z-index: 2;
    box-shadow: 0px  0px 15px 15px rgb(0 0 0 / 10%);
    transform: translate3d(0,-2px,0);
}

/* 智能板块的css */
.more-list {
    padding-top: 16px;
    font-size: 16px;
    height: 26px;
    /* width: 124px; */
}
.more-item {
    float:left;
    margin-left: 30px;
    padding: 0px;
    /* display: inline-block; */
    /* height: 17px; */
}

.one{
    color: #ff6700;
    border-bottom: 2px  solid#ff6700;
}
.hide {
    display: none!important;
}

/* 首页视频板块的css */
.video {
    width: 1226px;
    height: 357px;
    /* background-color: #333;  */
}

.video-list {
    width: 1240px;
    height: 285px;
    /* background-color: #ff6700; */
}

.video-item {
    width: 296px;
    height: 285px;
    float: left;
    background-color: #fff;
    position: relative;
    transition: all .3s;
    margin-left: 14px;
}

.video-item-first {
    margin-left: 0px;
}
.play {
    display: inline-block;
    width: 32px;
    height: 20px;
    background-color: #424242;
    position: absolute;
    left: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    top: 145px;
    text-align: center;
}


.play img {
    width: 15px;
    height: 15px;
    padding: 2px 0px 0px 2px;
    
}

.video-list .video-item .title {
    margin:20px 0px 14px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-item:hover {
    z-index: 2;
    box-shadow: 0px  0px 15px 15px rgb(0 0 0 / 10%);
    transform: translate3d(0,-2px,0);
}
.video-item:hover .play {
    background-color: #ff6700 ;
}

/* 服务部分的css代码 */
.service {
    height: 332px;
    /* background-color: burlywood; */
}

.service .content {
    height: 332.5px;
    width: 1226px;
    margin: 0px auto;
    /* background-color: #ff6700; */
}

.service .content .title {
    height: 25px;
    background-color: #fff;
    padding: 27px 0px;

    border-bottom: 1px solid #e0e0e0;

}

.service .content .title .title-list {
    height: 100%;
}   

.service .content .title .title-item {
    float: left;

    width: 19.8%;
    text-align: center;
    position: relative;
    height: 25px;
    border-right: 1px solid #e0e0e0;
}

.service .content .title .title-item a {
    transition: all .3s;
    color: #616161;
    font-size: 16px;
}

.service .content .title .title-item a:hover {
    color: #ff6700;
}

.service .content .title .title-end {
    border-right: none;
}

.service .content .link {
    height: 172.5px;
    /* background-color: #333; */
    padding: 40px 0px;
}

.service .content .link .column {
    width: 160px;
    float: left;
    margin: 0px;
}

.service .content .link .column dt {
    margin-bottom: 26px;
    font-size: 14px;
    color: #424242;
}
.service .content .link .column dd{
    font-size: 12px;
    color: #757575;
    margin: 10px 0 0;
}
.service .content .contact {
    float: right;
    width: 251px;
    color: #616161;
    border-left:1px solid #e0e0e0;
    height: 111px;
    text-align: center;
}

.service .content .contact .phone {
    font-size: 22px;
    color: #ff6700;
}

.service .content .contact p {
    margin: 0 0 5px 0;
    font-size: 12px;
}

.service .content .contact .button {
    display: inline-block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ff6700;
    color: #ff6700;
    transition: all .4s;
}

.service .content .contact .button:hover {
    background-color: #ff6700;
    color: #fff;
}

.service .content .contact .follow {
    width: 251px;
    height: 21px;
    /* background-color: aqua; */
    margin-top: 10px;
    position: relative;
}

.service .content .contact .follow a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

.service .content .contact .follow .wb {
    background-image: url(../Images/wb.png);
    background-size: cover;
}

.service .content .contact .follow .wx {
    background-image: url(../Images/wx.png);
    background-size: cover;
}

.service .content .contact .follow .follow-none {
    width: 126px;
    height: 126px;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}


.service .content .contact .follow .wb:hover {
    background-image: url(../Images/wb-2.png);
    background-size: cover;
}
.service .content .contact .follow .wx:hover {
    background-image: url(../Images/wx-2.png);
    background-size: cover;
}

.service .content .contact .follow .wx:hover .follow-none {
    display: block;
}

/* 信息部分的css代码 */
.info {
    height: 121px;
    padding: 30px 0px;
}

.info .content {
    width: 1226px;
    height: 157px;
    position: relative;
    margin: 0px auto;
    /* background-color: aqua; */
}

.info .content .logo {
    background-image: url(../Images/logo.png);
    width: 56px;
    height: 56px;
    position: absolute;
    background-size: 56px;
    margin-right: 20px;
}
.info .content .info-text {
    color: #b0b0b0;
    padding-left: 77px;
    height: 110px;
    line-height: 18px;
}

.info .content .info-text .sites a {
    color: #757575;
    font-size: 12px;
}

.info .content .info-text a:hover {
    color: #ff6700;
}

.info .content .info-img {
    padding-left: 77px;
}
.info .content .info-img img {
    height: 28px;
}
.home-bottom {
    margin: 30px 0;
    width: 100%;
    height: 19px;
    background: url(../Images/bottom.png) no-repeat center ;
}
/* 最右边的固定侧栏 */
.right-sidebar {
    width: 84px;
    height: 561px;
    position: fixed;
    /* background-color: #ff6700; */
    right: 0px;
    bottom: 70px;
}
.right-sidebar .link{
    width: 82px;
    height: 90px;
    border: 1px solid #fff;
    /* background-color: aqua; */
    /* position: relative; */
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #757575;
}

.right-sidebar .link .icon {
    position: relative;
    width: 30px;
    height: 30px;
    padding-top: 18px;
    margin: 0px auto 8px;
}

.right-sidebar .link .icon-img {
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 0px;
}

.right-sidebar .link .none {
    width: 100px;
    height: 162px;
    padding: 14px;
    /* background-color: #ff6700; */
    position: absolute;
    top: 0px;
    right: 92px;
    display: none;
}

.right-sidebar .link .none .none-img {
    width: 100px;
    height: 100px;
    margin: 6px 0;
}

.right-sidebar .link .none .icon-text {
    width: 82px;
    height: 42px;
    color: #757575;
    font-size: 14px;
    display: inline-block;
}

.right-sidebar .link .sodebar-text {
    display: inline;
}

.right-sidebar .link:hover .none{
    display: block;
}