
@media screen and (max-width:1200px ) {

/* 当最大页面是1200时，执行以下代码 */
    .header .left .left-list {
        font-size: 15px;
    }
    
    .header .logo .link {
        width: 105px;
        background-image: url(../Images/logo-2.jpg);
        background-size: 105px 75px;
    }

    .header .right .right-list {
        font-size: 10px;
    }

    .header .right .right-list .right-item .link-b  .list-none  {
        font-size: 10px;
    }

    .title .content h1 {
        font-size: 60px;
    }
 
    .title .content h1::before {
        width: 80px;
    }

    .nav .content .nav-list .nav-item .link .text {
        font-size: 10px;
    }

    .hot .content .hot-two {
        padding-right: 15px;
    }

    .hot .content .secondary {
        padding-left: 15px;
    }

    .follow .content .follow-title .follow-header h2 {
        font-size: 30px;
    }

    .follow .content .follow-title .social h3  {
        font-size: 15px;
    }

    .news .inner .link .content .time {
        margin-top: 25px;
    }


}

@media screen and (max-width:1080px ) {
/* 当最大页面是1080时，执行以下代码 */
    .main .header{
        height: 50px;
        background: #01cbe1
   }

   .header .logo .link {
       height: 50px;
   }

   .header .left .left-list {
        display: none;
   }
   
   .header .right .right-list {
        display: none;
   }
   
   .header .right  .seach .link {
       height: 50px;
   }

   .header .right  .seach .link .seach-img {
       background: url(../Images/seach-2.png);

   }

   .main .title .content {
    height: 70px;
    padding: 80px 40px 75px 40px;

   }
   .title .content h1 {
       font-size: 50px;
   }

   .title .content h1::before {
       width: 75px;
   }

   .nav .content .nav-list .nav-item .link .text {
    font-size: 8px;
    padding: 6px 10px;

    }
    .nav .content .nav-list {
        /* bottom: 0px; */
        overflow-y:auto;
        overflow-x:scroll; 
    }

     .explain {
        /* width: 75%; */
        font-size: 12px;
    }

    .explain-title {
        font-size: 18px;
    }
    .follow .content .flickity .flickity-list  {
        overflow-y:auto;
        overflow-x: auto;
    }

    .news .inner .link .content .time {
        margin-top: 15px;
    }
    .footer .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (max-width:920px){
    .hot .content .hot-two {
        width: 100%;
        margin: 0px;
        padding: 25px 0px 20px 0px;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

    }
    .hot .content .secondary {
        border-left: 0px;
    }

    .main .follow {
        margin-bottom: 0px;
    }

    .follow .content .follow-title {
        display: block;
    }

    .news .inner  {
        padding: 25px 0px 20PX 0px;
    }

    .news .inner .link {
        display: block;
        width: 100%;
    }
    .news .inner .link .thumbnail {
        width: 100%;
    }

    .news .inner .link .content {
        width: 100%;
        padding-left:0px;
    }

    .news .inner .link .content .category {
        margin-top: 15px;
    }
    
    .news .inner .link .content h2 {
        font-size: 20px;
    }
    
    .news .inner .link .content p {
        font-size: 12px;
    }

    .news .inner .link .content .time {
        margin-top: 0px;
    }

    .main .more {
        padding: 40px;
    }

}

@media screen and (max-width:600px) {
    .footer .content .footer-title {
        display: block;
    }

    .footer .content .footer-title .social {
        margin-bottom: 15px;
    }


}


@media screen and (max-width:500px ) {
    /* 当页面最大宽度为500时，执行以下代码 */
    
       .title .content h1 {
           font-size: 25px;
       }
    
       .title .content h1::before {
           width: 50px;
           top: 30px;
       }
    
       .main .title .content {
        height: 49px;
        padding: 30px 20px 25px 20px;
       }

       .nav .content .nav-list .nav-item .link .text {
        font-size: 6px;
        }
        
        .main .hot {
            padding: 0px 20px 20px 20px;
        }

        .hot .content .hot-one .hot-one-link {
            display: block;
        }
        .hot .content .hot-one .hot-one-link .explain {
            display: block;
            width: 100%;
            padding: 0px;
            position: relative;
            padding-top: 15px;
        }

        .hot .content .hot-one .hot-one-link .post {
            height: 250px;
            padding-bottom:0px;
            display: block;
        }

        .hot .content .hot-one {
            padding-bottom: 0px;
        }

        .follow .content .follow-title .social {
            display: block;
        }

        .follow .content .follow-title .social h3 {
            margin: 14px 0px 10px 0px;
        }

        .main .news {
            padding: 0px 20px;
        }

        .main .more {
            padding: 30px 20px;
        }

        .main .cookie {
            bottom: 0px;
            width: 100%;
            right: 0px;
        }
        .footer .content {
            height: 1100px;
        }

    }
