* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    padding:0;
    margin:0;
    list-style:none;
}

div {
    display: block;
}

button {
    border: 0px ;
    background-color: #fff;   
}

.main {
    /* width: 100%; */
    position: relative;
    font-family: "Proxima Nova",sans-serif;
    color: #003755;
}

/* 头部css */
.main .header {
    width: 100%;
    height: 75px;
    background-color: #fff;
    transition: all .4s;
}

.header .logo {
    float: left;
    width: 249px;
}

.header .logo .link {
    display: block;
    width: 100%;
    height: 75px;
    background-color: #01cbe1;
    background-image: url(../Images/logo.svg);
    background-repeat: no-repeat;
    background-size: 179px 15px;
    background-position: center;
    transition: all .4s;
}

/* 头部左边导航栏 */
.header .left {
    max-width: 500px;
    height: 75px;
    float: left;
    /* background-color: crimson; */
    padding-left: 30px;
}

.header .left .left-list {
    height: 100%;
    font-size: 20px;
    transition: all .4s;
}

.header .left .left-list .left-item {
    float: left;
    /* width: 110px; */
    height: 100%;
}

.header .left .left-list .left-item .link {
    display: block;
    /* width: 80px; */
    height: 75px;
    padding: 0px 15px;
    line-height: 75px;
}

.header .left .left-list .left-item .link .bottom-fixed {
    padding-bottom: 5px;
    border-bottom: 2px solid #003755;
}

.header .left .left-list .left-item .link span {
    padding-bottom: 5px;
}

.header .left .left-list .left-item .link:hover span {
    border-bottom: 2px solid #003755;
}

/* 头部右边导航栏 */
.header .right {
    /* width: 450px; */
    height: 75px;
    /* background-color: cyan; */
    float: right;
}

.header .right .right-list {
    float: left;
    height: 100%;
    font-size: 13px;
    transition: all .4s;
}

.header .right .right-list .right-item {
    height: 100%;
    float: left;

}

.header .right .right-list .right-item .link {
    height: 100%;
    line-height: 75px;
    position: relative;
    padding: 0px 10px;
    display: block;
    font-weight: 600;
}
.header .right .right-list .right-item .link-one .first {
    padding-bottom: 5px;
}

.header .right .right-list .right-item .link-one:hover .first{
    border-bottom: 2px solid #003755;
}

.header .right .right-list .right-item .link-b {
    padding-right: 25px;
    line-height: 75px;
    font-size: 13px;
    color: #003755;
    font-weight: 600;
}

.header .right .right-list .right-item .link-b::after {
    content: "";
    position: absolute;
    top: 45%;
    margin: 0 0 0 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #5b7f92;
    border-bottom: 0;
}

.header .right .right-list .right-item .link-b:hover {
    background-color: #003755;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.274);
}
.header .right .right-list .right-item .last {
    padding: 15px;
    background-color: #003755;
    color: #fff;
}

.header .right  .seach {
    float: left;
}

.header .right  .seach .link {
    width: 60px;
    height: 75px;
    display: block;
    /* background-color:antiquewhite; */
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all .4s;
}

.header .right  .seach .link .seach-img {
    width: 18px;
    height: 18px;
    /* background-color: black; */
    display: block;
    margin: 0px auto;
    background-image: url(../Images/seach.svg);
    /* background-size: 20px; */
}

.header .right  .seach:hover .seach-img{
    background-image: url(../Images/seach-2.jpg);
    /* background-size: 20px; */
}

/* 头部隐藏层 */
.header .right .right-list .right-item .link-b  .list-none {
    width: 200px;
    /* height: 495px; */
    background-color: #003755;
    position: absolute;
    font-size: 13px;
    color: #fff;
    outline: 1px solid rgba(255,255,255,.15);
    display: none;
    left: 0px;
    text-align: left;
    font-weight: 600;
    z-index: 2;
}

.header .right .right-list .right-item .link-b  .list-none .none-link {
    /* height: 0px; */
    padding: 15px;
    display: block;
    border-top: 1px solid rgba(255,255,255,.15);
    line-height: 16px;
}

.header .right .right-list .right-item  .list-none .none-link:hover {
    background-color: #01283c;
}

.header .right .right-list  .link-b:hover .list-none {
    display: block;
}



/* 主页标题css */
.main .title {
    background: #f2f5f6;
    width: 100%;

}

.title .content {
    max-width: 1100px;
    margin: 0px auto;
    height: 87px;
    padding: 80px 40px 75px 40px;
    position: relative;
    transition: all .4s;
}

.title .content h1 {
    font-size: 65px;
    font-weight: lighter;
    padding-top: 10px;
    margin: 0px;
    transition: all .4s;

}

.title .content h1::before {
    content:"";
    height: 2px;
    width: 90px;
    background-color: #003755;
    display: inline-block;
    position: absolute;
    top: 80px;
    transition: all .4s;
}

/* 主页导航栏css */
.main .nav {
    height: 38px;
    width: 100%;
    padding-top: 25px;
    /* margin-bottom: -10px; */
}

.nav .content {
    height: 48px;
    max-width: 1100px;
    background-color: #fff;
    margin: 0px auto;
}

.nav .content .nav-list {
    /* float: left; */
    height: 100%;
    display: flex;

}

.nav .content .nav-list .nav-item {
    /* float: left; */
    height: 100%;
}

.nav .content .nav-list .nav-item .link {
    padding: 4px;
    display: inline-block;
    background-color: #fff;
    white-space: nowrap;

}

.nav .content .nav-list .nav-item .link .text {
    text-transform: uppercase;
    padding: 8px 12px;
    border: 1px solid #003755;
    font-size: 13px;
    /* font-weight: 500; */
    transition: all 0.4s;
}

.nav .content .nav-list .nav-item .link .first {
    background-color: #003755;
    color: #fff;
}

.nav .content .nav-list .nav-item .link .first:hover {
    background-color: #003755;
    color: #fff;
}
.nav .content .nav-list .nav-item .link .move:hover {
    background-color: #f2f5f6;
}

/* 主页热点css */
.main .hot {
    max-width: 1180px;
    padding:  40px;
    padding-top: 0px;
    /* background-color: brown; */

    margin: 0px auto;
}

.hot .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hot .content .hot-one {
    /* height: 467px; */
    padding: 45px 0px;
    position: relative;
}

.hot .content .hot-one .hot-one-link {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
}

.hot .content .hot-one .hot-one-link .post {
    width: 100%;
    height: 0px;
    padding-bottom: 37%;
    overflow: hidden;
    /* background-image: url(../Images/mian-1.jpg); */
    position: relative;
}

.hot .content .hot-one .hot-one-link .post::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,55,85,.2);
    opacity: 0;
    transition: opacity .2s;
}

.hot .content .hot-one .hot-one-link:hover .post::after{
    opacity: 1;
}


.hot .content .hot-one .hot-one-link .large{
    width: 100%;
    /* height: 407px; */
}

.hot .content .hot-one .hot-one-link .explain {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    height: 98px;
    padding: 30px 30px 10px 0px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: all .4s;
    font-size: 14px;
    font-weight: 600px;
}

 .category {
    margin-bottom: 10px;
    color: #01cbe1;
    text-transform: uppercase;
}

 .explain-title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 13px;
}

.hot .content .hot-two {
    padding-right: 30px;
    width: 47.2%;
    border: 0px;
    margin-top: 45px;
    float: left;
}

.hot .content .hot-two .hot-two-link {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
}

.hot .content .hot-two .hot-two-link .post-two {
    position: relative;
}

.hot .content .hot-two .hot-two-link .post-two::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,55,85,.2);
    opacity: 0;
    transition: opacity .2s;
}

.hot .content .hot-two .hot-two-link:hover .post-two::after{
    opacity: 1;
}

.hot .content .hot-two .hot-two-link .post-two .small {
    width: 100%;
    height: 100%;
}

.hot .content .hot-two .hot-two-link  .explain-two {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0px 0px ;
}

.hot .content .secondary {
    padding-right:0px;
    padding-left: 30px;
    border-left: 1px solid #eaeaea;
}




/* 主页关注css */
.main .follow {
    width: 100%;
    /* height: 795px; */
    margin: 30px 0px;
    background: #01283c;
}

.follow .content {
    max-width: 1100px;
    /* height: 705px; */
    padding-top: 60px;
    padding-bottom:30px;
    /* background-color:#fff; */
    margin: 0px auto;
}

.follow .content .follow-title {
    max-width: 1100px;
    padding: 0px 40px 40px 40px;
    background-color: #01283c;
    /* height: 84px; */
    display: flex;
    justify-content: space-between;
}


.follow .content .follow-title .follow-header {
    color: #01cbe1;
    position: relative;
}

.follow .content .follow-title .follow-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 90px;
    height: 2px;
    background: currentColor;
}


.follow .content .follow-title .follow-header h2 {
    font-size: 40px;
    font-weight: 300;
    padding: 20px 20px 0px 0px;
}
 .social {
    display: flex;
    align-items: center;
    height: 84px;
}

 .social h3{
    color: #fff;
    font-size: 20px;
    margin: 5px 25px 0px 0px;
    font-weight: 200;
}

 .social .contact-list {
    width: 276px;
    display: flex;
    flex-wrap: wrap;
}
 .social .contact .contact-item {
    padding: 3px;

}

 .social .contact .contact-item .link {
    width: 22px;
    height: 22px;
    display: block;
    padding: 9px;
    background-color: #fff;
    border-radius: 50%;
}

 .social .contact .contact-item .link img {
    width: 22px;
    height: 22px;
    
}

 .social .contact .contact-item .link:hover {
    background-color: #b3bfc5;
}


.follow .content .flickity .flickity-list {
    display: flex;
    padding-top: 10px;
}

.follow .content .flickity .flickity-list .flickity-more {
    margin-left: 15px!important;
}

.follow .content .flickity .flickity-list .flickity-item {
    margin: 30px 15px 30px 0px;
    position: relative;
}

.follow .content .flickity .flickity-list .flickity-item .card {
    width: 250px;
    height: 416px;
    background-color: #fff;
    position: relative;
}

.follow .content .flickity .flickity-list .flickity-item .card .card-title {
    width: 220px;
    height: 26px;
    padding: 15px 10px;
}
.follow .content .flickity .flickity-list .flickity-item .card .card-title .icon {
    width: 26px;
    height: 26px;
    background-image: url(../Images/脸书-2.png);
    display: inline-block;
    background-size: 26px;
    margin-right: 5px;
    vertical-align: middle;
}

.follow .content .flickity .flickity-list .flickity-item .card .card-title .time {
    display: inline-block;
    vertical-align: middle;
    color: #7a7a7a;
    font-size: 10px;
}

.follow .content .flickity .flickity-list .flickity-item .card .card-img img {
    width: 100%;
    display: block;
}

.follow .content .flickity .flickity-list .flickity-item .card .card-content p {
    padding: 15px;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
}

.follow .content .flickity .flickity-list .flickity-item .card .card-link {
    padding: 10px 15px 13px 15px;
    font-size: 10px;
    vertical-align: middle;
}

.follow .content .flickity .flickity-list .flickity-item .card .card-link .icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../Images/链接.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px;
    
}

.follow .content .flickity .flickity-list .flickity-item .card .card-link .words {
    text-decoration:underline;
}

.follow .content .flickity .flickity-list .flickity-item .card::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: -30px;
    left: -15px;
    width: 280px;
    height: 1px;
    background: #fff;
}

.follow .content .flickity .flickity-list .flickity-item .card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,55,85,.2);
    opacity: 0;
    transition: opacity .2s;
}
.follow .content .flickity .flickity-list .flickity-item .card:hover::after {
    opacity: 1;
}


.follow .content .flickity .flickity-list .flickity-item::before {
    content: "";
    top: -30px;
    left: 50%;
    width: 1px;
    height: 30px;
    position: absolute;
    background-color: #fff;
}

.follow .content .flickity .flickity-list .flickity-item::after {
    content: "";
    top: -30px;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    transition: transform .2s cubic-bezier(.68,-.55,.265,1.55);
    background-color: #fff;
    position: absolute;
}

.follow .content .flickity .flickity-list .flickity-item:hover::after {
    width: 16px;
    height: 16px;
} 


.follow .content .flickity .flickity-list .flickity-item:hover .card .card-link .words{
    text-decoration:none;
}


/* 主页新闻css */
.main .news {
    max-width: 1100px;
    padding: 0px 40px;
    margin: 0px auto;
}

.news .inner {
    padding: 45px 0px;
    width: 100%;
    /* height: 206px; */
    border-bottom: 1px solid #eaeaea;
}

.news .inner .link {
    display: flex;
    width: 100%;
}

.news .inner .link .thumbnail {
    position: relative;
    width: 33.33%;
}



.news .inner .link .thumbnail img {
    width: 100%;
    height: 100%;
}


.news .inner .link .content {
    max-width: 640px;
    width: 66.66%;
    padding-left:35px;
    display: flex;
    flex-direction: column;
}

.news .inner .link .content .category {
    font-size: 12px;
}

.news .inner .link .content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 13px;
}

.news .inner .link .content p {
    font-size: 15px;
    margin-bottom: 25px;
}

.news .inner .link .content .time {
    font-size: 12px;
    margin-top: 34px;
}

.news .inner .link .thumbnail::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0;
    background: rgba(0,55,85,.2);
    opacity: 0;
    transition: opacity .2s;
}

.news .inner .link:hover .thumbnail::after {
    opacity: 1;
}

/* 主页更多导航栏css */
.main .more {
    max-width: 1100px;
    height: 40px;
    background-color: #fff;
    margin: 0px auto;
    padding: 60px 40px;
}

.more .more-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.more .more-list .more-item {
    padding: 2px;
}

.more .more-list .more-item span {
    display: block;
    width: 36px;
    height: 36px;
    color: #003755;
    background-color: #fff;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.more .more-list .more-item .first {
    color: #fff;
    background-color: #01cbe1;
}

.more .more-list .more-item .arrow {
    position: relative;
}

.more .more-list .more-item .arrow .left-arrow {
    width: 17px;
    height: 14px;
    position: absolute;
    left: 7px;
    bottom: 12px;
    transition: all .4s;
}
.more .more-list .more-item .arrow:hover .left-arrow {
    left: 13px;
}
.more .more-list .more-item .change:hover {
    background-color: #003755;
    color: #fff;
}

/* 主页联系方式css */
.main .footer {
    /* height: 754px; */
    width: 100%;
    background-color: #003755;
}

.footer .content {
    max-width: 1110px;
    padding: 50px 0px 60px 0px;
    margin: 0px auto;
}

.footer .content .footer-title {
    display: flex;
}

.footer .content .footer-title .social {
    display: block;
    height: 100%;
    width: 50%;
    padding-top: 10px;
}

.footer .content .footer-title .social h3{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 23px;
}

.footer .content .footer-title .seach {
    width: 50%;
    height: 100%;
    position: relative;
}

.footer .content .footer-title .seach h3{
    font-weight: 200;
    color: #fff;
    font-size: 26px;
    margin-bottom: 23px;
}

.footer .content .footer-title .seach .target form{
    display: flex;
    align-items: center;
}

.footer .content .footer-title .seach .target .frame {
    padding: 0px 12px;
    background-color: #003755;
    border: 2px solid #fff;
    height: 40px;
    width: 310px;
    border-right: none;
}

.footer .content .footer-title .seach .target .click {
    padding: 9px;
    width: 40px;
    height: 40px;
    display: block;
    border: 0px;
    background-color: #fff;
    margin: 0px;
}

.footer .content .footer-title .seach .target .click img {
    width: 22px;
    height: 22px;
    display: block;
}

.footer .content .footer-title .seach .target .click:hover {
    background: rgba(255,255,255,.7);
    cursor: pointer;
}

.footer .content .footer-nav {
    padding-top: 60px;
    color: #fff;
    width: 100%;
    height: 394px;
}

.footer .content .footer-nav dl {
    float: left;
    width: 25%;
}

.footer .content .footer-nav dt {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
}

.footer .content .footer-nav dd {
    margin-bottom: 10px;
}

.footer .content .footer-nav dd:hover .footer-link {
    text-decoration: underline;
}

.footer .content .copyright {
    color: rgba(255,255,255,.5);
    font-size: 12px;
}


.main .cookie {
    right: 25px;
    bottom: 25px;
    left: auto;
    height: 423px;
    width: 400px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgb(0 55 85 / 25%);
}

.cookie .cookie-header {
    padding: 20px 25px;
}
.cookie .cookie-header h1 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 17px;
}

.cookie .cookie-header p{
    font-size: 15px;
}

.cookie .cookie-header .link {
    text-decoration:underline;
}

.cookie .subject .subject-list {
    width: 100%;
    /* margin-bottom: 20px; */
}

.cookie .subject .subject-list .subject-item {
    display: flex;
    align-items: stretch;
    border-top: 1px solid rgba(0,55,85,.1);
    font-size: 20px;
}

.cookie .subject .subject-list .end {
    border-bottom: 1px solid rgba(0,55,85,.1);
}

.cookie .subject .subject-list .subject-item label{
    display: flex;
    align-items: center;
    padding: 20px 25px 22px 25px;
    flex: 1 1 auto;
}
.cookie .subject .subject-list .subject-item .consent {
    padding: 15px 25px 17px 25px;
    font-size: 16px;
}



.cookie .subject .subject-list .subject-item input {
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

.cookie .subject .subject-list .subject-item span {

    font-weight: 300;
}

.cookie .subject .subject-list .subject-item .link {
    width: 35px;
    height: 51px;
    padding: 10px;
    line-height: 71px;
    background: rgba(0,55,85,.05);
}

.cookie .subject .subject-list .subject-item .link-2 {
    height: 35px;
    line-height: 55px;
}


.cookie .subject .subject-list .subject-item .link:hover {
    background: rgba(0,55,85,.2);
}

.cookie .cookie-footer button{
    width: 360px;
    height: 55px;
    padding: 15px 25px;
    margin: 20px auto;

    display: block;
    color: #fff;
    font-weight: 600;
    background: #01cbe1;
}

.cookie .cookie-footer button:hover {
    cursor: pointer;
    background-color: #01b4c8;
    
}